@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$border: 0.1em solid #dbdbdb;
$buttonActive: #1296f7;
$buttonDisable: #bedffc;
$backGroundColor: #fafafa;
$logoFont: "Lobster", cursive;
$lostPassword: #00376b;
