@import "../../../styles/common.scss";

.HaiinMain {
  nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: $border;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 0;

    .navLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;

      .navLogoIcon {
        margin-right: 15px;
      }

      .navLogoBar {
        width: 2px;
        height: 20px;
        background-color: black;
        margin-right: 15px;
      }

      .navLogoInsta {
        font-family: "Lobster", cursive;
        font-size: 22px;
      }
    }

    .navSearch {
      display: flex;
      align-items: center;

      input {
        width: 210px;
        height: 28px;
        border: $border;
        border-radius: 3px;
        background-color: #fafafa;
        padding: 0, 50px;

        :focus {
          outline: none;
        }

        ::placeholder {
          font-family: FontAwesome;
          color: rgba(0, 0, 0, 0.3);
          text-align: center;
        }
      }

      .navSearchIcon {
        position: relative;
        right: 145px;
        color: rgba(0, 0, 0, 0.3);
      }
    }

    .navIcons {
      display: flex;
      align-items: center;

      .navIcon {
        font-size: 23px;
        margin-right: 25px;
      }
    }
  }

  .main {
    width: 100%;
    display: flex;
    padding-top: 80px;
    background-color: #fafafa;

    .mainFeeds {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 100px;

      .mainFeedsStory {
        width: 630px;
        height: 110px;
        border: $border;
        border-radius: 3px;
        background-color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 35px;

        ul {
          padding: 0;
          margin: 0;
          padding: 5px 20px;
          display: flex;
        }

        .mainFeedsStoryLi {
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 30px;
        }

        .mainFeedsStoryLi img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 3px solid white;
          z-index: 1;
        }

        .mainFeedsStoryLiDiv {
          width: 72px;
          height: 72px;
          border-radius: 50%;
          background: radial-gradient(ellipse at top, #147fc7, transparent),
            radial-gradient(ellipse at bottom, #0c991fea, transparent);
          position: absolute;
          top: 98px;
        }

        .mainFeedsStoryLiName {
          font-size: 12px;
          margin-top: 7px;
        }
      }

      article {
        width: 630px;
        height: auto;
        border: $border;
        border-radius: 3px;
        background-color: white;
        margin-bottom: 40px;

        .mainFeedTitle {
          width: 630px;
          height: 65px;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .mainFeedTitleName {
            display: flex;
            align-items: center;

            img {
              width: 40px;
              height: 40px;
              border-radius: 20px;
              margin: 0 10px 0 20px;
            }

            div {
              font-size: 16px;
              font-weight: 600;
            }
          }

          .mainFeedTitleIcon {
            margin-right: 20px;
          }
        }

        .mainFeedPic {
          img {
            width: 630px;
            height: 500px;
          }
        }

        .mainFeedIcons {
          display: flex;
          justify-content: space-between;
          margin: 10px 20px;

          .navIcon:first-child {
            font-size: 29px;
          }

          .navIcon {
            font-size: 27px;
            margin-right: 10px;
            cursor: pointer;
          }

          .navIconR {
            font-size: 27px;
            cursor: pointer;
          }
        }

        .mainFeedLike {
          display: flex;
          align-items: center;
          margin-left: 20px;

          img {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            margin-right: 5px;
          }

          span:nth-child(3),
          span:nth-child(5) {
            font-weight: 700;
            margin: 0 5px;
          }
        }

        .mainFeedContent {
          margin-left: 20px;
          margin-top: 10px;

          span:first-child {
            font-weight: 700;
            margin-right: 5px;
          }

          span:last-child {
            margin-left: 5px;
            color: rgba(0, 0, 0, 0.4);
          }
        }

        .mainFeedComments {
          list-style: none;
          padding: 0;
          margin: 0;
          margin-top: 0;
          margin-bottom: 10px;

          li {
            display: flex;
            justify-content: space-between;
            margin: 5px 20px;

            .mainFeedCommentList span:first-child {
              font-weight: 700;
              margin-right: 5px;
            }

            .mainFeedCommentLike {
              .navIcon {
                margin-left: 5px;
                cursor: pointer;

                &.red {
                  color: red;
                }
              }
            }
          }
        }

        form {
          height: 50px;
          border-top: $border;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;

          input {
            width: 500px;
            color: rgba(0, 0, 0, 0.5);
            margin-left: 20px;
          }

          input,
          button {
            border: none;
            background-color: white;
            font-size: 17px;
          }

          input:focus,
          button:focus {
            outline: none;
          }

          button {
            color: #cae3fc;
            margin-right: 20px;
            cursor: pointer;

            &.postingColor {
              color: $buttonActive;
            }
          }
        }
      }
    }

    .mainRight {
      width: 40%;
      height: 450px;
      position: fixed;
      top: 110px;
      right: -40px;

      .mainRightUser {
        width: 300px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .mainRightUserLeft {
          display: flex;
          align-items: center;

          img {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            margin-right: 20px;
          }

          .mainRightUserLeftProfileId {
            font-weight: 600;
            margin-bottom: 3px;
          }

          .mainRightUserLeftProfileDes {
            color: rgba(0, 0, 0, 0.5);
          }
        }

        .mainRightUserRight {
          font-weight: 600;
          color: $buttonActive;
        }
      }

      .mainRightStory {
        width: 300px;
        height: 220px;
        margin-top: 20px;

        .mainRightStoryTitle {
          display: flex;
          justify-content: space-between;
          margin-top: 30px;
          margin-bottom: 20px;

          span {
            font-weight: 600;
          }

          span:first-child {
            color: rgba(0, 0, 0, 0.5);
          }
        }

        ul {
          margin: 0;
          padding: 0;

          li {
            width: 300px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .mainRightStoryUpdateUser {
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                margin-right: 10px;
              }

              .mainRightStoryUpdateUserName {
                display: flex;
                flex-direction: column;
                justify-content: center;

                div:first-child {
                  color: black;
                  font-weight: 600;
                }

                div:last-child {
                  color: rgba(0, 0, 0, 0.5);
                  font-size: 14px;
                  margin-top: 3px;
                }
              }
            }
            .mainRightStoryUpdateFollow {
              color: $buttonActive;
              font-weight: 600;
            }
          }
        }
      }

      .mainRightFooter {
        width: 280px;

        div {
          color: rgba(0, 0, 0, 0.2);
          font-size: 12px;
        }

        div:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}
